<a href="https://colab.research.google.com/github/DomingosN/Material_Aprendizado_Maquina_TADS_U-_2020/blob/master/Aula_6_Revis%C3%A3o_de_Python_Gabarito.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Vamos agora fazer uma revisão que irá abordar os tópicos tratados nas ultimas aulas.

# Revisão Atribuição de Variáveis

In [0]:
var = 'Antonio'

# Revisão Impressão de Variáveis

In [0]:
print(var)

Antonio

# Revisão Entrada de Varáiveis pelo Usuário

In [0]:
var = input('Entre com um nome:')

Entre com um nome:

In [0]:
print(var)

# Revisão Comparação de Variáveis

In [0]:
num1 = 10
num2 = 15

In [0]:
print(num1>0)

True

In [0]:
print(num2<0)

False

In [0]:
print(num1>num2)

False

In [0]:
print(num1<num2)

True

# RevisãoOperações Aritiméticas com Variáveis

In [0]:
num1+num2

25

In [0]:
num1-num2

-5

In [0]:
num1*num2

150

In [0]:
num3 = float(num1**num2)
print(num3)

1000000000000000.0

In [0]:
print(type(var));
print(type(num1))
print(type(num3))

<class 'str'>
<class 'int'>
<class 'float'>

# Listas, Loops e Range

In [0]:
lista = []

In [0]:
for i in range(100):
    lista.append(i)

In [0]:
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [0]:
print(lista[0:10])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [0]:
print(lista[-1])

99

In [0]:
print(lista[-10:])

[90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

## Desvios condicionais if else

In [0]:
for numero in lista:
    if numero%2 == 0:
        print('O número '+str(numero)+ ' é par.');
    else:
        print('O número '+str(numero)+ ' é impar.');

O número 0 é par.
O número 1 é impar.
O número 2 é par.
O número 3 é impar.
O número 4 é par.
O número 5 é impar.
O número 6 é par.
O número 7 é impar.
O número 8 é par.
O número 9 é impar.
O número 10 é par.
O número 11 é impar.
O número 12 é par.
O número 13 é impar.
O número 14 é par.
O número 15 é impar.
O número 16 é par.
O número 17 é impar.
O número 18 é par.
O número 19 é impar.
O número 20 é par.
O número 21 é impar.
O número 22 é par.
O número 23 é impar.
O número 24 é par.
O número 25 é impar.
O número 26 é par.
O número 27 é impar.
O número 28 é par.
O número 29 é impar.
O número 30 é par.
O número 31 é impar.
O número 32 é par.
O número 33 é impar.
O número 34 é par.
O número 35 é impar.
O número 36 é par.
O número 37 é impar.
O número 38 é par.
O número 39 é impar.
O número 40 é par.
O número 41 é impar.
O número 42 é par.
O número 43 é impar.
O número 44 é par.
O número 45 é impar.
O número 46 é par.
O número 47 é impar.
O número 48 é par.
O número 49 é impar.
O número 50 é par.
O número 51 é impar.
O número 52 é par.
O número 53 é impar.
O número 54 é par.
O número 55 é impar.
O número 56 é par.
O número 57 é impar.
O número 58 é par.
O número 59 é impar.
O número 60 é par.
O número 61 é impar.
O número 62 é par.
O número 63 é impar.
O número 64 é par.
O número 65 é impar.
O número 66 é par.
O número 67 é impar.
O número 68 é par.
O número 69 é impar.
O número 70 é par.
O número 71 é impar.
O número 72 é par.
O número 73 é impar.
O número 74 é par.
O número 75 é impar.
O número 76 é par.
O número 77 é impar.
O número 78 é par.
O número 79 é impar.
O número 80 é par.
O número 81 é impar.
O número 82 é par.
O número 83 é impar.
O número 84 é par.
O número 85 é impar.
O número 86 é par.
O número 87 é impar.
O número 88 é par.
O número 89 é impar.
O número 90 é par.
O número 91 é impar.
O número 92 é par.
O número 93 é impar.
O número 94 é par.
O número 95 é impar.
O número 96 é par.
O número 97 é impar.
O número 98 é par.
O número 99 é impar.

# Dicionários

In [0]:
aniversarios = dict( Alberto = '20/04',
                   Luis = '12/12',
                   Waldemar = '20/07',
                   Ivana = '24/05')

In [0]:
aniversarios['Ivana']

'24/05'

In [0]:
aniversarios

{'Alberto': '20/04', 'Luis': '12/12', 'Waldemar': '20/07', 'Ivana': '24/05'}

In [0]:
aniversarios.keys()

dict_keys(['Alberto', 'Luis', 'Waldemar', 'Ivana'])

In [0]:
aniversarios.values()

dict_values(['20/04', '12/12', '20/07', '24/05'])

In [0]:
aniversarios.items()

dict_items([('Alberto', '20/04'), ('Luis', '12/12'), ('Waldemar', '20/07'), ('Ivana', '24/05')])

In [0]:
aniversarios['Souza']= '20/01';
aniversarios['Silvio']= '20/11';
aniversarios['Helena']= '03/11'

In [0]:
for key in aniversarios.keys():
    print(key)

Alberto
Luis
Waldemar
Ivana
Souza
Silvio
Helena

In [0]:
for key in aniversarios.keys():
    print('O aniversário de '+key+' é em '+aniversarios[key])

O aniversário de Alberto é em 20/04
O aniversário de Luis é em 12/12
O aniversário de Waldemar é em 20/07
O aniversário de Ivana é em 24/05
O aniversário de Souza é em 20/01
O aniversário de Silvio é em 20/11
O aniversário de Helena é em 03/11

## Exemplo 1 Veja o exemplo a seguir

In [0]:
A0 = input("Entre com um nome: ")

Entre com um nome: Daniel

In [0]:
print(A0)

Daniel

Neste exemplo nós inserimos um nome que é armazenado na varáivel A0, a seguir com o comando print() nos imprimimos o conteúdo de A0

## Exercicio 2- Repita inserindo um novo nome para ser armazenado na varíavel A1
## Digite na linha a seguir o código para inserir A1

In [0]:
A1 = input("Entre com um nome: ")

Entre com um nome: Ivanilton

## Digite na linha s seguir o código para imprimir A1

In [0]:
print(A1)

Ivanilton

## Exercicio 3- Repita inserindo um novo nome para ser armazenado na variável A2
## Digite na linha a seguir o código para inserir A2

In [0]:
A2 = input("Entre com um nome: ")

Entre com um nome: Jair

## Digite na linha a seguir o código para imprimir A2

In [0]:
print(A2)

Jair

## Exercicio 4- Repita inserindo um novo nome para ser armazenado na variável A3
## Digite na linha a seguir o código para inserir A3

In [0]:
A3 = input("Entre com um nome: ")

Entre com um nome: Cleber

## Digite na linha a seguir o código para imprimir A3

In [0]:
print(A3)

Cleber

## Exercicio 5- Repita inserindo um novo nome para ser armazenado na variável A4
## Digite na linha a seguir o código para inserir A4

In [0]:
A4 = input("Entre com um nome: ")

Entre com um nome: Ernesto

## Digite na linha a seguir o código para imprimir A4

In [0]:
print(A4)

Ernesto

## Exercicio 6- Repita inserindo um novo nome para ser armazenado na varíavel A5
## Digite na linha a seguir o código para inserir A5

In [0]:
A5 = input("Entre com um nome: ")

Entre com um nome: Armando

## Digite na linha a seguir o código para imprimir A5

In [0]:
print(A5)

Armando

## Exemplo 2 Agora vamos armazenar na variável B0 a idade de Daniel

In [0]:
B0 = 16

## Exercício 7 - Repita o Processo agora armazenando as idades das pessoas A1, A2, A3, A4 e A5 nas varíaveis B1, B2, B3, B4, B5, de formas similar ao que foi feito na lina de código anterior.

In [0]:
B1 = 21; # DIGITE APÓS O SINAL DE IGUAL A IDADE DA PESSOA A1
B2 = 32; # DIGITE APÓS O SINAL DE IGUAL A IDADE DA PESSOA A2
B3 = 36; # DIGITE APÓS O SINAL DE IGUAL A IDADE DA PESSOA A3
B4 = 20; # DIGITE APÓS O SINAL DE IGUAL A IDADE DA PESSOA A4
B5 = 14; # DIGITE APÓS O SINAL DE IGUAL A IDADE DA PESSOA A5

## Exercicio 8 Agora vamos verificar qual é o tipo de cada uma das varáiveis que inserimos até agora usando o comando type()

In [0]:
# Exemplo para A0 e B0
print(type(A0));
print(type(B0))

<class 'str'>
<class 'int'>

### Repita o Processo agora para a varíáveis A1, A2, A3, A4 e A5 e para as variáveis B1, B2, B3, B4, B5, de formas similar ao que foi feito na lina de código anterior.¶

In [0]:
print(type(A1));
print(type(B1));
print(type(A2));
print(type(B2));
print(type(A3));
print(type(B3));
print(type(A4));
print(type(B4));
print(type(A5));
print(type(B5))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>

## Exercicio 9 Agora vamos modificar o tipo de cada uma das varáiveis referente a idades que inserimos até agora usando o comando str() e armazenar nas variáveis sB0, sB1, sB2, sB3, sB4, sB5.

In [0]:
sB0 = str(B0)
print(sB0)

16

### Repita o Processo agora para a para as variáveis B1, B2, B3, B4, B5, de forma similar ao que foi feito na lina de código anterior e criando as variáveis sB1, sB2, sB3, sB4, sB5.¶

In [0]:
sB1 = str(B1); print(sB1)
sB2 = str(B2); print(sB2);
sB3 = str(B3); print(sB3);
sB4 = str(B4); print(sB4);
sB5 = str(B5); print(sB5)

21
32
36
20
14

## Exercicio 10 Agora criar um código para imprimir uma mensagem usando as varíaveis. veja o exemplo a seguir.

In [0]:
print('A idade de '+ A0 + ' é '+ sB0 + ' anos')

A idade de Daniel é 16 anos

## Agora modifique o código da linha anterior para imprimir as mensagens com o conteúdo das varíaveis A1, A2, A3, A4, A5 e sB1, sB2, sB3, sB4, sB5

In [0]:
print('A idade de '+ A1 + ' é '+ sB1 + ' anos');
print('A idade de '+ A2 + ' é '+ sB2 + ' anos');
print('A idade de '+ A3 + ' é '+ sB3 + ' anos');
print('A idade de '+ A4 + ' é '+ sB4 + ' anos');
print('A idade de '+ A5 + ' é '+ sB5 + ' anos');

A idade de Ivanilton é 21 anos
A idade de Jair é 32 anos
A idade de Cleber é 36 anos
A idade de Ernesto é 20 anos
A idade de Armando é 14 anos

## Exercicio 11 Agora criar um código que Calcule a IDADE MÉDIA das pessoas A0, A1, A2, A3, A4, A5. Armazene esse resultado na variável IdadeMedia.¶

In [0]:
IdadeMedia = (B0+B1+B2+B3+B4+B5)/6
print(IdadeMedia)

23.166666666666668

## Exercicio 12 Agora crie um código para imprimir uma mensagem com o seguinte conteúdo:   
## A idade média de A0, A1, A2, A3, A4, A5 é X anos.¶

In [0]:
print('A idade média de '+A0+','+A1+','+A2+','+A3+','+A4+'e'+A5+' é '+str(IdadeMedia)+ ' anos.')

A idade média de Daniel,Ivanilton,Jair,Cleber,ErnestoeArmando é 23.166666666666668 anos.

## Exercicio 13 Agora crie um código para imprimir uma mensagem com o seguinte conteúdo:
A idade de Daniel é maior que a idade média do grupo, caso a idade da Daniel seja maior ou igua a idade média ou A idade de Daniel é mneor que a idade média do grupo, caso a idade da Daniel seja menor que a idade média do grupo

In [0]:
# Veja o exempol para A0 e B0
IdadeMedia = 15 # Vamos definir esta variavel apenas para testar este código
if B0 >= IdadeMedia :
    print('A idade de '+ A0 + ' é '+ sB0 + ' anos e maior que a Idade Médai do grupo que é '+ str(IdadeMedia)+ ' anos.')
else:
    print('A idade de '+ A0 + ' é '+ sB0 + ' anos e menor que a Idade Médai do grupo que é '+ str(IdadeMedia)+ ' anos.')

A idade de Daniel é 16 anos e maior que a Idade Médai do grupo que é 15 anos.

## Exercicio 13 Agora crie um código para imprimir uma mensagem com o seguinte conteúdo:
A idade de Daniel é maior que a idade média do grupo, caso a idade da Daniel seja maior ou igua a idade média ou A idade de Daniel é mneor que a idade média do grupo, caso a idade da Daniel seja menor que a idade média do grupo

In [0]:
# Veja o exempol para A0 e B0
IdadeMedia = 15 # Vamos definir esta variavel apenas para testar este código
if B0 >= IdadeMedia :
    print('A idade de '+ A1 + ' é '+ sB1 + ' anos e maior que a Idade Médai do grupo que é '+ str(IdadeMedia)+ ' anos.')
else:
    print('A idade de '+ A1 + ' é '+ sB1 + ' anos e menor que a Idade Médai do grupo que é '+ str(IdadeMedia)+ ' anos.')

A idade de Ivanilton é 21 anos e maior que a Idade Médai do grupo que é 15 anos.

In [0]:
# Veja o exempol para A0 e B0
IdadeMedia = 15 # Vamos definir esta variavel apenas para testar este código
if B0 >= IdadeMedia :
    print('A idade de '+ A2 + ' é '+ sB2 + ' anos e maior que a Idade Médai do grupo que é '+ str(IdadeMedia)+ ' anos.')
else:
    print('A idade de '+ A2 + ' é '+ sB2 + ' anos e menor que a Idade Médai do grupo que é '+ str(IdadeMedia)+ ' anos.')

A idade de Jair é 32 anos e maior que a Idade Médai do grupo que é 15 anos.

In [0]:
# Veja o exempol para A0 e B0
IdadeMedia = 15 # Vamos definir esta variavel apenas para testar este código
if B0 >= IdadeMedia :
    print('A idade de '+ A3 + ' é '+ sB3 + ' anos e maior que a Idade Médai do grupo que é '+ str(IdadeMedia)+ ' anos.')
else:
    print('A idade de '+ A3 + ' é '+ sB3 + ' anos e menor que a Idade Médai do grupo que é '+ str(IdadeMedia)+ ' anos.')

A idade de Cleber é 36 anos e maior que a Idade Médai do grupo que é 15 anos.

In [0]:
# Veja o exempol para A0 e B0
IdadeMedia = 15 # Vamos definir esta variavel apenas para testar este código
if B0 >= IdadeMedia :
    print('A idade de '+ A4 + ' é '+ sB4 + ' anos e maior que a Idade Médai do grupo que é '+ str(IdadeMedia)+ ' anos.')
else:
    print('A idade de '+ A4 + ' é '+ sB4 + ' anos e menor que a Idade Médai do grupo que é '+ str(IdadeMedia)+ ' anos.')

A idade de Ernesto é 20 anos e maior que a Idade Médai do grupo que é 15 anos.

In [0]:
# Veja o exempol para A0 e B0
IdadeMedia = 15 # Vamos definir esta variavel apenas para testar este código
if B0 >= IdadeMedia :
    print('A idade de '+ A5 + ' é '+ sB5 + ' anos e maior que a Idade Médai do grupo que é '+ str(IdadeMedia)+ ' anos.')
else:
    print('A idade de '+ A5 + ' é '+ sB5 + ' anos e menor que a Idade Médai do grupo que é '+ str(IdadeMedia)+ ' anos.')

A idade de Armando é 14 anos e maior que a Idade Médai do grupo que é 15 anos.

## Exercicio 14 Agora crie um código para montar uma lista de nomes com as pessoas A0, A1, A2, A3, A4 e A5 denominada nomes e imprimir a mensagem:  
## O nome da pessoa X é tal, onde X é substituido pelas strings  A0, A1, A2, A3, A4 e A5 e tal pelo respectivo conteúdo de cada variável :
## DICA USE O COMANDO FOR E RANGE PARA FACILITAR O CÓDIGO

In [0]:
nomes =[A0, A1,A2,A3,A4,A5]
strings = ['A0', 'A1','A2','A3','A4','A5']
for i in range((len(nomes))):
    print('O nome de '+ strings[i]+ ' é '+ nomes[i] +' .')

O nome de A0 é Daniel .
O nome de A1 é Ivanilton .
O nome de A2 é Jair .
O nome de A3 é Cleber .
O nome de A4 é Ernesto .
O nome de A5 é Armando .

In [0]:
nomes =[A0, A1,A2,A3,A4,A5]
strings = ['A0', 'A1','A2','A3','A4','A5']
for i,nome in  enumerate(nomes):
    print('O nome de '+ strings[i]+ ' é '+ nome +' .')

O nome de A0 é Daniel .
O nome de A1 é Ivanilton .
O nome de A2 é Jair .
O nome de A3 é Cleber .
O nome de A4 é Ernesto .
O nome de A5 é Armando .

## Exercicio 15 Agora crie um código para usara lista de nomes com as pessoas A0, A1, A2, A3, A4 e A5 denominada NOMES e  montar a lista IDADES com B0, B1, B2, B3, B4 e B5 e imprimir a mensagem:  
## O nome da pessoa X é tal, onde X é substituido pelas strings  A0, A1, A2, A3, A4 e A5 e tal pelo respectivo conteúdo de cada variável :
## DICA USE O COMANDO FOR E RANGE PARA FACILITAR O CÓDIGO

In [0]:
nomes =[A0, A1,A2,A3,A4,A5]
idades = [B0, B1,B2,B3,B4,B5]
for i in  range(len(nomes)):
    print('O nome de '+ nome+ ' é '+ nome + ' sua idade é '+ str(idades[i]) +' anos.')

O nome de Armando é Armando sua idade é 16 anos.
O nome de Armando é Armando sua idade é 21 anos.
O nome de Armando é Armando sua idade é 32 anos.
O nome de Armando é Armando sua idade é 36 anos.
O nome de Armando é Armando sua idade é 20 anos.
O nome de Armando é Armando sua idade é 14 anos.

In [0]:
nomes =[A0, A1,A2,A3,A4,A5]
idades = [B0, B1,B2,B3,B4,B5]
for i,nome in  enumerate(nomes):
    print('O nome de '+ nome+ ' é '+ nome + ' sua idade é '+ str(idades[i]) +' anos.')

O nome de Daniel é Daniel sua idade é 16 anos.
O nome de Ivanilton é Ivanilton sua idade é 21 anos.
O nome de Jair é Jair sua idade é 32 anos.
O nome de Cleber é Cleber sua idade é 36 anos.
O nome de Ernesto é Ernesto sua idade é 20 anos.
O nome de Armando é Armando sua idade é 14 anos.