<a href="https://colab.research.google.com/github/DomingosN/Material_Aprendizado_Maquina_TADS_U-_2020/blob/master/Aula_6_Revis%C3%A3o_de_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Vamos agora fazer uma revisão que irá abordar os tópicos tratados nas ultimas aulas.

# Revisão Atribuição de Variáveis

In [0]:
var = 'Antonio'

# Revisão Impressão de Variáveis

In [0]:
print(var)

Antonio

# Revisão Entrada de Varáiveis pelo Usuário

In [0]:
var = input('Entre com um nome:')

Entre com um nome:dagoberto

In [0]:
print(var)

dagoberto

# Revisão Comparação de Variáveis

In [0]:
num1 = 10
num2 = 15

In [0]:
print(num1>0)

True

In [0]:
print(num2<0)

False

In [0]:
print(num1>num2)

False

In [0]:
print(num1<num2)

True

# RevisãoOperações Aritiméticas com Variáveis

In [0]:
num1+num2

25

In [0]:
num1-num2

-5

In [0]:
num1*num2

150

In [0]:
num3 = float(num1**num2)
print(num3)

1000000000000000.0

In [0]:
print(type(var));
print(type(num1))
print(type(num3))

<class 'str'>
<class 'int'>
<class 'float'>

# Listas, Loops e Range

In [0]:
lista = []

In [0]:
for i in range(100):
    lista.append(i)

In [0]:
print(lista)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [0]:
print(lista[0:10])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [0]:
print(lista[-1])

99

In [0]:
print(lista[-10:])

[90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

## Desvios condicionais if else

In [0]:
for numero in lista:
    if numero%2 == 0:
        print('O número '+str(numero)+ ' é par.');
    else:
        print('O número '+str(numero)+ ' é impar.');

O número 0 é par.
O número 1 é impar.
O número 2 é par.
O número 3 é impar.
O número 4 é par.
O número 5 é impar.
O número 6 é par.
O número 7 é impar.
O número 8 é par.
O número 9 é impar.
O número 10 é par.
O número 11 é impar.
O número 12 é par.
O número 13 é impar.
O número 14 é par.
O número 15 é impar.
O número 16 é par.
O número 17 é impar.
O número 18 é par.
O número 19 é impar.
O número 20 é par.
O número 21 é impar.
O número 22 é par.
O número 23 é impar.
O número 24 é par.
O número 25 é impar.
O número 26 é par.
O número 27 é impar.
O número 28 é par.
O número 29 é impar.
O número 30 é par.
O número 31 é impar.
O número 32 é par.
O número 33 é impar.
O número 34 é par.
O número 35 é impar.
O número 36 é par.
O número 37 é impar.
O número 38 é par.
O número 39 é impar.
O número 40 é par.
O número 41 é impar.
O número 42 é par.
O número 43 é impar.
O número 44 é par.
O número 45 é impar.
O número 46 é par.
O número 47 é impar.
O número 48 é par.
O número 49 é impar.
O número 50 é par.
O número 51 é impar.
O número 52 é par.
O número 53 é impar.
O número 54 é par.
O número 55 é impar.
O número 56 é par.
O número 57 é impar.
O número 58 é par.
O número 59 é impar.
O número 60 é par.
O número 61 é impar.
O número 62 é par.
O número 63 é impar.
O número 64 é par.
O número 65 é impar.
O número 66 é par.
O número 67 é impar.
O número 68 é par.
O número 69 é impar.
O número 70 é par.
O número 71 é impar.
O número 72 é par.
O número 73 é impar.
O número 74 é par.
O número 75 é impar.
O número 76 é par.
O número 77 é impar.
O número 78 é par.
O número 79 é impar.
O número 80 é par.
O número 81 é impar.
O número 82 é par.
O número 83 é impar.
O número 84 é par.
O número 85 é impar.
O número 86 é par.
O número 87 é impar.
O número 88 é par.
O número 89 é impar.
O número 90 é par.
O número 91 é impar.
O número 92 é par.
O número 93 é impar.
O número 94 é par.
O número 95 é impar.
O número 96 é par.
O número 97 é impar.
O número 98 é par.
O número 99 é impar.

# Dicionários

In [0]:
aniversarios = dict( Alberto = '20/04',
                   Luis = '12/12',
                   Waldemar = '20/07',
                   Ivana = '24/05')

In [0]:
aniversarios['Ivana']

'24/05'

In [0]:
aniversarios

{'Alberto': '20/04', 'Luis': '12/12', 'Waldemar': '20/07', 'Ivana': '24/05'}

In [0]:
aniversarios.keys()

dict_keys(['Alberto', 'Luis', 'Waldemar', 'Ivana'])

In [0]:
aniversarios.values()

dict_values(['20/04', '12/12', '20/07', '24/05', '20/01', '20/11', '03/11'])

In [0]:
aniversarios.items()

dict_items([('Alberto', '20/04'), ('Luis', '12/12'), ('Waldemar', '20/07'), ('Ivana', '24/05'), ('Souza', '20/01'), ('Silvio', '20/11'), ('helena', '03/11')])

In [0]:
aniversarios['Souza']= '20/01';
aniversarios['Silvio']= '20/11';
aniversarios['Helena']= '03/11'

In [0]:
for key in aniversarios.keys():
    print(key)

Alberto
Luis
Waldemar
Ivana
Souza
Silvio
helena
Helena

In [0]:
for key in aniversarios.keys():
    print('O aniversário de '+key+' é em '+aniversarios[key])

O aniversário de Alberto é em 20/04
O aniversário de Luis é em 12/12
O aniversário de Waldemar é em 20/07
O aniversário de Ivana é em 24/05
O aniversário de Souza é em 20/01
O aniversário de Silvio é em 20/11
O aniversário de helena é em 03/11
O aniversário de Helena é em 03/11

## Exemplo 1 Veja o exemplo a seguir

In [0]:
A0 = input("Entre com um nome: ")

Entre com um nome: Daniel

In [0]:
print(A0)

Daniel

Neste exemplo nós inserimos um nome que é armazenado na varáivel A0, a seguir com o comando print() nos imprimimos o conteúdo de A0

## Exercicio 2- Repita inserindo um novo nome para ser armazenado na varíavel A1
## Digite na linha a seguir o código para inserir A1

## Digite na linha s seguir o código para imprimir A1

## Exercicio 3- Repita inserindo um novo nome para ser armazenado na variável A2
## Digite na linha a seguir o código para inserir A2

## Digite na linha a seguir o código para imprimir A2

## Exercicio 4- Repita inserindo um novo nome para ser armazenado na variável A3
## Digite na linha a seguir o código para inserir A3

## Digite na linha a seguir o código para imprimir A3

## Exercicio 5- Repita inserindo um novo nome para ser armazenado na variável A4
## Digite na linha a seguir o código para inserir A4

## Digite na linha a seguir o código para imprimir A4

## Exercicio 6- Repita inserindo um novo nome para ser armazenado na varíavel A5
## Digite na linha a seguir o código para inserir A5

## Digite na linha a seguir o código para imprimir A5

## Exemplo 2 Agora vamos armazenar na variável B0 a idade de Daniel

In [0]:
B0 = 16

## Exercício 7 - Repita o Processo agora armazenando as idades das pessoas A1, A2, A3, A4 e A5 nas varíaveis B1, B2, B3, B4, B5, de formas similar ao que foi feito na lina de código anterior.

In [0]:
B1 = ; # DIGITE APÓS O SINAL DE IGUAL A IDADE DA PESSOA A1
B2 = ; # DIGITE APÓS O SINAL DE IGUAL A IDADE DA PESSOA A2
B3 = ; # DIGITE APÓS O SINAL DE IGUAL A IDADE DA PESSOA A3
B4 = ; # DIGITE APÓS O SINAL DE IGUAL A IDADE DA PESSOA A4
B5 = ; # DIGITE APÓS O SINAL DE IGUAL A IDADE DA PESSOA A5

## Exercicio 8 Agora vamos verificar qual é o tipo de cada uma das varáiveis que inserimos até agora usando o comando type()

In [0]:
# Exemplo para A0 e B0
print(type(A0));
print(type(B0))

<class 'str'>
<class 'int'>

### Repita o Processo agora para a varíáveis A1, A2, A3, A4 e A5 e para as variáveis B1, B2, B3, B4, B5, de formas similar ao que foi feito na lina de código anterior.¶

## Exercicio 9 Agora vamos modificar o tipo de cada uma das varáiveis referente a idades que inserimos até agora usando o comando str() e armazenar nas variáveis sB0, sB1, sB2, sB3, sB4, sB5.

In [0]:
sB0 = str(B0)
print(sB0)

16

### Repita o Processo agora para a para as variáveis B1, B2, B3, B4, B5, de forma similar ao que foi feito na lina de código anterior e criando as variáveis sB1, sB2, sB3, sB4, sB5.¶

## Exercicio 10 Agora criar um código para imprimir uma mensagem usando as varíaveis. veja o exemplo a seguir.

In [0]:
print('A idade de '+ A0 + ' é '+ sB0 + ' anos')

A idade de Daniel é 16 anos

## Agora modifique o código da linha anterior para imprimir as mensagens com o conteúdo das varíaveis A1, A2, A3, A4, A5 e sB1, sB2, sB3, sB4, sB5

In [0]:
print(); # construa a primeira mensagem entre os parenteses
print(); # construa a primeira mensagem entre os parenteses
print(); # construa a primeira mensagem entre os parenteses
print(); # construa a primeira mensagem entre os parenteses
print(); # construa a primeira mensagem entre os parenteses

## Exercicio 11 Agora criar um código que Calcule a IDADE MÉDIA das pessoas A0, A1, A2, A3, A4, A5. Armazene esse resultado na variável IdadeMedia.¶

## Exercicio 12 Agora crie um código para imprimir uma mensagem com o seguinte conteúdo:   
## A idade média de A0, A1, A2, A3, A4, A5 é X anos.¶

## Exercicio 13 Agora crie um código para imprimir uma mensagem com o seguinte conteúdo:
A idade de Daniel é maior que a idade média do grupo, caso a idade da Daniel seja maior ou igua a idade média ou A idade de Daniel é mneor que a idade média do grupo, caso a idade da Daniel seja menor que a idade média do grupo

In [0]:
# Veja o exempol para A0 e B0
IdadeMedia = 15 # Vamos definir esta variavel apenas para testar este código
if B0 >= IdadeMedia :
    print('A idade de '+ A0 + ' é '+ sB0 + ' anos e maior que a Idade Médai do grupo que é '+ str(IdadeMedia)+ ' anos.')
else:
    print('A idade de '+ A0 + ' é '+ sB0 + ' anos e menor que a Idade Médai do grupo que é '+ str(IdadeMedia)+ ' anos.')

A idade de Daniel é 16 anos e maior que a Idade Médai do grupo que é 15 anos.

## Repita o código para as pessoas A0, A1, A2, A3, A4, A5

## Exercicio 14 Agora crie um código para montar uma lista de nomes com as pessoas A0, A1, A2, A3, A4 e A5 denominada nomes e imprimir a mensagem:  
## O nome da pessoa X é tal, onde X é substituido pelas strings  A0, A1, A2, A3, A4 e A5 e tal pelo respectivo conteúdo de cada variável :
## DICA USE O COMANDO FOR E RANGE PARA FACILITAR O CÓDIGO

## Exercicio 15 Agora crie um código para usara lista de nomes com as pessoas A0, A1, A2, A3, A4 e A5 denominada NOMES e  montar a lista IDADES com B0, B1, B2, B3, B4 e B5 e imprimir a mensagem:  
## O nome da pessoa X é tal, onde X é substituido pelas strings  A0, A1, A2, A3, A4 e A5 e tal pelo respectivo conteúdo de cada variável :
## DICA USE O COMANDO FOR E RANGE PARA FACILITAR O CÓDIGO

## Desafio

Veja o exemplo a seguir:  

1. Criaremos um dicionario tendo como __key__ nomes de bandas que temso músicas em nossa coleção
2. Vamos criar uma função (Veja aula 6) que busca o artista com o menor numero de múscas em nossa coleção
3. Vamos criar uma nova função que oredena nosso dicionário
4. Vamos fazer um relatório que imprime a relação ordenada de artista e pela quantidade de músicas em nossa coleção

## 1. Vamos criar um dicionario tendo como __key__ nomes de bandas que temso músicas em nossa coleção

In [0]:
myMusic= {'Radiohead': 52,
         'Gorillaz':101,
         'Blur':22,
         'Motorhëad': 93,
         'Ramones': 125,
         'Black Keys':41}

### Vamos adcionar novos dados ao nosso dicionário myMusic

In [0]:
myMusic['Greta Van Fleet']=21
myMusic['Deep Purple']= 92
myMusic['Robert Johnson']=23
myMusic['Blues Brothers'] = 23
myMusic['Muddy Waters']=5
myMusic['Rush']=193
myMusic['Primus']=56

### Vamos ver como ficou nosso dicionário

In [0]:
myMusic

{'Radiohead': 52,
 'Gorillaz': 101,
 'Blur': 22,
 'Motorhëad': 93,
 'Ramones': 125,
 'Black Keys': 41,
 'Greta Van Fleet': 21,
 'Deep Purple': 92,
 'Robert Johnson': 23,
 'Blues Brothers': 23,
 'Muddy Waters': 5,
 'Rush': 193,
 'Primus': 56}

### Vamos criar uma lista com os nomes dos artistas presnetes em nosso dicionário, sem a quantidade de músicas

In [0]:
artistas= list(myMusic.keys());
artistas

['Radiohead',
 'Gorillaz',
 'Blur',
 'Motorhëad',
 'Ramones',
 'Black Keys',
 'Greta Van Fleet',
 'Deep Purple',
 'Robert Johnson',
 'Blues Brothers',
 'Muddy Waters',
 'Rush',
 'Primus']

## 2. Vamos criar uma função (Veja aula 6) que busca o artista com o menor numero de múscas em nossa coleção

In [0]:
def BuscaMenor(artistas):
    menor = myMusic[artistas[0]] ## esta linha define como menor o primeiro item da lista artistas
    menor_indice = 0 ## este é o indice do menor em relação a nossa lista artistas
    for i in range(0, len(artistas)): ## este loop irá percorrer todos os elementos da lista artitsas
        #print(myMusic[artistas[i]])
        if myMusic[artistas[i]]<menor: ## linha verifica se o item i da lista artistas é menor
            menor = myMusic[artistas[i]]; ## se a linha anterior for verdade define-se o novo menor artistas
            menor_indice=i ## este é o indice do novo menor em relação a nossa lista artistas
    return menor_indice # retorna o menor item da lista artistas

## Vamos testar a função BuscaMenor

In [0]:
menor_indice = BuscaMenor(artistas); # armazena o indice do menor item d alista artistas
print(artistas[menor_indice])# imprime o artista com o menor indice da lista artistas
print(menor_indice)# imprime  quantidade de músicas do artista com o menor indice da lista artistas

Muddy Waters
10

## 3. Vamos criar uma nova função que oredena nosso dicionário

In [0]:
def Ordenacao(artistas):
    novosArtistas = []
    for i in range(len(artistas)):
        menor_indice = BuscaMenor(artistas)
        novosArtistas.append(artistas.pop(menor_indice))
    return novosArtistas

## 4. Vamos fazer um relatório que imprime a relação ordenada de artista e pela quantidade de músicas em nossa coleção

In [0]:
novosArtistas = Ordenacao(artistas)

In [0]:
for artista in novosArtistas:
    print('Tenho ' + str(myMusic[artista])+' músicas de '+artista)

Tenho 5 músicas de Muddy Waters
Tenho 21 músicas de Greta Van Fleet
Tenho 22 músicas de Blur
Tenho 23 músicas de Robert Johnson
Tenho 23 músicas de Blues Brothers
Tenho 41 músicas de Black Keys
Tenho 52 músicas de Radiohead
Tenho 56 músicas de Primus
Tenho 92 músicas de Deep Purple
Tenho 93 músicas de Motorhëad
Tenho 101 músicas de Gorillaz
Tenho 125 músicas de Ramones
Tenho 193 músicas de Rush

# Desafio

1. Crie um novo dicionário com pessoas e suas respectivas idades
2. Adapte o código BuscaMenor para buscar a pessoa mais jovem da lista
3. Adapte o código Ordenacao para ordenar esta lista
4. Imprima uma mensagem com o nome e a idade de cada pessoa na lista na ordem crescente por idade