<a href="https://colab.research.google.com/github/DomingosN/Material_Aprendizado_Maquina_TADS_U-_2020/blob/master/Introdu%C3%A7%C3%A3o_ao_Python_Aula_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## PARTE I - Introdução ao Python Aula 1

Bem vindo ao nosso curso de Python, nestas primeiras aulas não se pretende fazer um curso muito aprofundado mas apenas os primeiros recursos para que possamos  avançar no conteúdo de Aprendizado de Máquina. neste curso nós usares jupyter Notebooks, que constituem uma interface bastante útil para aprendermos, pois é possível incluir comentários imagens e outros recursos não disponíveis numa IDE normal.

Em geral em ambiente de produção de softwares são usados programas especificos para a construção e edição de códigos, ao instalar o python você encontrará, além do Jupyter, uma IDE bem simples chamada IDLE e o SPYDER que é bem mais completo. Sugiro que você procure informar-se e conhecer outras IDEs caso esteja interessado em avançar no python.

Os Jupyter é muito utilizado em Ciencia de dados e Aprendizado de Máquina, você verá que em muitas bibliotecas estão disponíveis exemplos de códigos muito bem comentados e ilustrados em python, que podem ser baisxados na documentaçãod as bibliotecas e do Git Hub.

Portante esta será a nossa ferramenta neste curso. Mas você pode usar o Jupyter paenas para testar pequenos códigos vamso ver alguns exemplos. Coloque o cursor na célula e aperte SHIFT + ENTER:

No usamos células, que poddm conter textos como este ou códigos, para definir que tipo de célula você deseja, basta selecionar uma célula e escolher no cabeçalho do Jupyter code para células de código e markdown para células de texo.

Uma célula markdown pode conter texto estruturado, figuras, links para sites, etc... vamos ver o tipo de estrutura de texto

# CABEÇALHO 1
## CABEÇALHO 2
### CABEÇALHO 3
#### CABEÇALHO 4

## Formatação de Texto

texto normal
**texto negrito**
*texto italico*

## Texto em Tópicos Numerados
1. texto normal
2. **texto negrito**
3. *texto italico*

## Texto em Tópicos

- texto normal
- **texto negrito**
- *texto italico*

## Paragrafos

Primeira linha, coloque dois espaços no final.  
Segunda linha,  não coloque dois espaços no final.
Terceira linha. Veja o que acontece quando apertar SHIFT + ENTER

## Algumas células de código

In [1]:
2+3

5

In [2]:
3>5

False

In [3]:
5>3

True

In [4]:
(5>3)&(3>2)

True

In [5]:
print(5>3)

True

In [6]:
print(3>2)

True

In [7]:
print(5>3);
print(3>2)

True
True

In [8]:
print((5>3)&(5<3))

False

In [9]:
print('hello World')

hello World

In [10]:
print('(5>3)&(5<3)')

(5>3)&(5<3)

### Comentários

No python qunado queremos fazer comentários sobre partes de um texto temos que começas a linha com #

In [12]:
# Este é um comentário
# Este também é um comentário
# Este també é um comentário
print((5>3)&(5<3))#Este print((5>3)&(5<3)) não é um comentário

False

### Entendendo Varíaveis e Operadores

### O que são variáveis?
Variáveis são nomes dados aos dados que precisamos armazenar e manipular em nossos programas.  
Por exemplo, suponha que seu programa precise armazenar a idade de um usuário. Para fazer isso, podemos nomear esse dado com userAge e defina a variável userAge usando a seguinte instrução:  
- userAge = 0 

Depois de definir a variável userAge, seu programa alocará uma determinada área do espaço de armazenamento do seu computador para armazenar esses dados.  
Você pode acessar e modificar esses dados consultando-os pelo nome, userAge.  
Toda vez que você declara uma nova variável, você precisa fornecer um valor inicial.  
Neste exemplo, atribuímos o valor 0. Sempre podemos alterar esse valor em nosso programa posteriormente.  
Também podemos definir várias variáveis de uma só vez. Para fazer isso, basta escrever:
- userAge, userName = 30, 'Peter' 

Isso é equivalente a  
- userAge = 30
- userName = 'Peter'

In [0]:
userAge, userName = 30, 'Peter'

In [0]:
userAge

30

In [0]:
userName

'Peter'

In [0]:
userAge = 50;
userName = 'Pedro'

In [0]:
userAge

50

In [0]:
userName

'Pedro'

In [0]:
print(userName,' ', userAge, ' anos')

Pedro   50  anos

In [0]:
print('userName',' ', 'userAge', ' anos')

userName   userAge  anos

## Nomeando uma variável
Um nome de variável no Python pode conter apenas letras (a - z, A - B), números ou sublinhados (_).
No entanto, o primeiro caractere não pode ser um número. Portanto, você pode nomear suas variáveis
- nome_do_usuário,
- nome_usuário ou
- nome_do_usuário2
- mas não 2userName. 

Além disso, existem algumas palavras reservadas que você não pode usar como nome de variável porque
eles já têm significados pré-atribuídos em Python. Essas palavras reservadas incluem palavras como
imprimir, inserir, se, enquanto etc. Nós aprenderemos sobre cada um deles nos capítulos seguintes.

Finalmente, os nomes de variáveis ​​diferenciam maiúsculas de minúsculas. nome de usuário não é o mesmo que userName.
Existem duas convenções ao nomear uma variável no Python. Nós podemos usar o camelo
notação de caso ou use sublinhados.

O Camel case é a prática de escrever palavras compostas com para definir o que será armazenado em uma varáivel (por exemplo, thisIsAVariableName).

In [0]:
nome_do_usuário = 'Paulo'

In [14]:
nome_do_usuário

'Paulo'

## O sinal de atribuição
Observe que o sinal = na instrução userAge = 0 tem um significado diferente do sinal = que nós aprendemos em matemática. Na programação, o sinal = é conhecido como sinal de atribuição.  
Significa que nós estão atribuindo o valor no lado direito do sinal = à variável à esquerda.  
Uma boa maneira de entender que a instrução userAge = 0 é pensar nela como userAge <- 0.  
As instruções x = y = x têm significados muito diferentes na programação.  
**Confuso? Um exemplo provavelmente esclarecerá isso.**

In [16]:
x = 5
y = 10
x = y
print ("x = ", x)
print ("y = ", y)

# Agora execute o programa e veja o resultado:

x =  10
y =  10

Embora x tenha um valor inicial de 5 (declarado na primeira linha), a terceira linha x = y atribui o valor de y a x (x <- y), alterando o valor de x para 10 enquanto o valor de y permanece inalterado.  
Em seguida, modifique o programa alterando apenas uma instrução: Altere a terceira linha de x = y para y = x.  Matematicamente, x = y = y significam a mesma coisa. No entanto, isso não acontece na programação.
Execute a célula a seguir e veja o que muda.

In [18]:
x = 5
y = 10
y = x
print ("x = ", x)
print ("y = ", y)

# Agora execute o programa e veja o resultado:

x =  5
y =  5

Você pode ver que, neste exemplo, o valor de x permanece como 5, mas o valor de y é alterado para 5.
Isso ocorre porque a instrução y = x atribui o valor de x a y (y <- x). y se torna 5 enquanto x permanece inalterado como 5.

## Operadores básicos
Além de atribuir uma variável a um valor inicial, também podemos executar as operações matemáticas usuais nas variáveis. Os operadores básicos no Python incluem +, -, *, /, //,% e ** ** , que representam adição, subtração, multiplicação, divisão, divisão de piso, módulo e expoente, respectivamente.
Exemplo:
Suponha que x = 5, y = 2
- Adição: x + y = 7
- Subtração: x - y = 3
- Multiplicação: x * y = 10
- Divisão: x / a
- Divisão inteira: x // y = 2 (arredonda a resposta para o número inteiro mais próximo)
- Módulo: x% y = 1 (fornece o restante quando 5 é dividido por 2)
- Expoente: x ** y = 25 (5 à potência de 2)

In [0]:
x = 5;
y = 2

In [20]:
x+y

7

In [21]:
x-y

3

In [22]:
x*y

10

In [23]:
x/y

2.5

In [24]:
x//y

2

In [27]:
x%y

1

In [28]:
x%y

1

In [29]:
x**y

25

## Mais operadores de atribuição
Além do sinal =, existem mais alguns operadores de atribuição no Python (e na maioria das linguagens de programação). Isso inclui operadores como + =, - = e * =. Suponha que tenhamos a variável x, com um valor inicial de 10. Se quisermos aumentar x em 2, podemos escrever:
  - x = x + 2
O programa primeiro avaliará a expressão à direita (x + 2) e atribuirá a resposta à esquerda. Então, eventualmente, a afirmação acima se torna x <- 12.

Em vez de escrever x = x + 2, também podemos escrever x + = 2 para expressar o mesmo significado.

O sinal + = é na verdade uma abreviação que combina o sinal de atribuição com o operador de adição.

Portanto, x + = 2 significa simplesmente x = x + 2.

Da mesma forma, se quisermos fazer uma subtração, podemos escrever x = x - 2 ou x - = 2. O mesmo funciona para todos os 7 operadores mencionados na seção acima.

In [0]:
x = 5

In [37]:
x = x + 2;
x

7

In [38]:
x = x + 2;
x

9

In [39]:
x = x-2;
x

7

In [42]:
x+=2;
x

13

## Operadores de Comparação

São usados quando queremos comparar dois numeros. Os operadores de comparação são:
- '==' igual 
- '>' maior
- '<' menor
- '>=' maior igual
- '<=' menor igual
- '!=' diferente

In [43]:
5 == 5

True

In [44]:
5 == 10

False

In [45]:
5 != 10

True

In [46]:
5 >= 10

False

In [47]:
5 <= 10

True

### Conectivos Lógicos

Outro tipo de operador importante são os conectivos por meio deles podemos realizar testes lógicos simultaneamente, esses operadores são:

- Negação ~
- Conjução & ou AND
- Disjunção | ou OR

Vamos imaginar que desejamos saber se o conteudo da variável idadeUsuario é maior do que sessenta anos

In [0]:
idadeUsuario = 65

In [49]:
idadeUsuario > 60

True

Esse é um teste bem simples, mas imagine que temos que verificar se a idade do usário está entre 60 e 70 anos, o teste seria assim:

In [51]:
(idadeUsuario > 60) & (idadeUsuario< 70)

True

In [0]:
idadeUsuario = 75

In [53]:
(idadeUsuario > 60) & (idadeUsuario< 70)

False

Além do operador & em python podemos representar a conjunção pelo comando and

In [54]:
(idadeUsuario > 60) and (idadeUsuario< 75) # não esqueção dos parenteses

False

Agora vamos testar se a idade do usuário está fora do intervalo 60 e 70 anos e podemos usar o operador OR

In [55]:
(idadeUsuario < 60) or (idadeUsuario > 70)

True

Agora vamos colocar uma nova varáivel que é o nome do usuário, vamos testar s eo nome dele é João e se a idade dele está entre 60 e 70 anos

In [0]:
nomeUsuario = 'João'
idadeUsuario = 63

In [57]:
(idadeUsuario > 60) & (idadeUsuario< 70) & (nomeUsuario == 'José')

False

In [58]:
(idadeUsuario > 60) & (idadeUsuario< 70) | (nomeUsuario == 'José')

True

In [59]:
(idadeUsuario > 60) & (idadeUsuario< 62) & (nomeUsuario == 'João')

False

In [60]:
(idadeUsuario > 60) & (idadeUsuario< 62) | (nomeUsuario == 'João')

True

Esse tipo de teste lógico pode ser aplicado em garndes coleções de dados, imagine que voê precisa buscar em todo o sistema do INSS todos os aposentados com nome João e idade entre 60 e 62 anos. Este tipo de teste lógico é executado com operações binárias, que são masi rápidas, por isso quase todas as linguagens possuem esse tipo de sintaxe.  
Mais a frente iremos tratar de listas e dicionários que são coleções e é muito comum que seja necessário realizar buscas nestas coleções, atendendo testes lógicos.

## Parte II - Data Types em Python

Nesta parte, veremos primeiro alguns tipos de dados básicos em Python, especificamente o número inteiro, float e string. A seguir, exploraremos o conceito de conversão de tipo. Por fim, discutiremos três tipos de dados mais avançados no Python: lista, tupla e dicionário.

### Inteiros
Inteiros são números sem partes decimais, como -5, -4, -3, 0, 5, 7 etc.
Para declarar um número inteiro em Python, basta escrever variableName = valor inicial
Exemplo:
idadeUsauario = 20, numeroCelular = 12398724

In [0]:
idadeUsuario = 20

In [0]:
numeroCelular = 12398724

In [66]:
idadeUsuario

20

In [67]:
numeroCelular

12398724

### Float
Flutuante ou Float, refere-se a números que possuem casas decimais, como 1,234, -0,023, 12,01.
Para declarar um float em Python, escrevemos variableName = valor inicial  
Exemplo:  
alturaUsuario = 1.82, pesoUsuario = 67.2

In [0]:
alturaUsuario = 1.82

In [0]:
pesoUsuario = 67.2

In [70]:
alturaUsuario

1.82

In [71]:
pesoUsuario

67.2

Observer que usa-se **ponto** e não **virgula**, se você usa-se virgulas as varáiveis seriam entendidas como dois numeros inteiros

In [0]:
alturaUsuario = 1,82
pesoUsuario = 67,2

In [73]:
alturaUsuario

(1, 82)

In [74]:
pesoUsuario

(67, 2)

## String
String refere-se ao texto.
Para declarar uma sequência, você pode usar variableName = 'valor inicial' (aspas simples) ou variableName = "valor inicial" (aspas duplas)  
Exemplo:  
userName = "Peter",  
userSpouseName = "Janet",  
userAge = '30'  
No último exemplo, porque escrevemos userAge = '30', userAge é uma string.  
Por outro lado, se você escreveu userAge = 30 (sem aspas), userAge é um número inteiro.  
Podemos combinar várias substrings usando o sinal de concatenação (+).  
Por exemplo, "Peter" + "Lee" é equivalente à string "PeterLee".

In [0]:
userName = "Peter";
userSpouseName = "Janet";
userAge = '30'

In [76]:
userName+userSpouseName+userAge

'PeterJanet30'

In [77]:
'A esposa de '+userName+' se chama '+userSpouseName+' e tem '+userName+' anos.'

'A esposa de Peter se chama Janet e tem Peter anos.'

In [0]:
userName = "Paul";
userSpouseName = "Carla";
userAge = '23'

In [79]:
'A esposa de '+userName+' se chama '+userSpouseName+' e tem '+userName+' anos.'

'A esposa de Paul se chama Carla e tem Paul anos.'

In [80]:
'A esposa de '+userName+' se chama '+userSpouseName+' e tem '+userAge+' anos.'

'A esposa de Paul se chama Carla e tem 23 anos.'

## Funções internas para Strings

O Python inclui várias funções internas para manipular seqüências de caracteres (*strings*).  
Uma função é simplesmente um bloco de código reutilizável que executa uma determinada tarefa.
Um exemplo de uma função disponível no Python é o método upper () para strings.  
Você o utiliza para colocar todas as letras em maiúsculas em uma sequência. Por exemplo, 'Peter'.upper () nos fornecerá a string "PEDRO".

In [81]:
'peter'.upper()

'PETER'

In [82]:
'peter'.upper().lower()

'peter'

In [83]:
'peter'.upper().lower().title()

'Peter'

In [84]:
('A esposa de '+userName+' se chama '+userSpouseName+' e tem '+ userAge+' anos.').upper()

'A ESPOSA DE PAUL SE CHAMA CARLA E TEM 23 ANOS.'

In [0]:
my_string = 'Cavalo'

In [86]:
print(my_string*5)

CavaloCavaloCavaloCavaloCavalo

In [87]:
print((my_string+' ')*5)

Cavalo Cavalo Cavalo Cavalo Cavalo

## Conversão de Tipo (Type casting) em Python  
Às vezes, em nosso programa, é necessário converter de um tipo de dados para outro, como de um número inteiro para uma string. Isso é conhecido como conversão de tipo.  
Existem três funções internas no Python que nos permitem fazer a conversão de tipos. Essas são as funções int (), float () e str ().  
A função int () no Python pega um float ou uma string apropriada e o converte em um número inteiro. Para alterar um float para um número inteiro, podemos digitar int (5.712987).  
Obteremos 5 como resultado (qualquer coisa após a remoção do ponto decimal). Para alterar uma string para um número inteiro, podemos digitar int ("4") e obteremos 4.  
No entanto, não podemos digitar int ("Hello") ou int ("4.22321").  
Iremos receber um erro nos dois casos.
A função float () recebe um número inteiro ou uma sequência apropriada e a altera para um float.  
Por exemplo, se digitarmos float (2) ou float ("2"), obteremos 2,0. Se digitarmos float ("2.09109"), obteremos 2.09109, que é um float e não uma sequência, pois as aspas são removidas.  
A função str (), por outro lado, converte um número inteiro ou um float em uma string. Por exemplo, se digitarmos str (2.1), obteremos "2.1".

In [88]:
int(5.712987)

5

In [89]:
float(5)

5.0

In [90]:
int(5.712987) + float(5)

10.0

In [91]:
float(5.712987) + float(5)

10.712987

In [92]:
str(5.712987)

'5.712987'

In [93]:
str(5)

'5'

In [94]:
str(5.712987)+str(5)

'5.7129875'

In [95]:
str(float(5.712987) + float(5))

'10.712987'

In [96]:
str(float(5.712987)) + str(float(5))

'5.7129875.0'

In [97]:
str(float(5.712987)) +' '+ str(float(5))

'5.712987 5.0'

### Lista
Lista refere-se a uma coleção de dados que normalmente estão relacionados. Em vez de armazenar esses dados como variáveis separadas, podemos armazená-los como uma lista. Por exemplo, suponha que nosso programa precise armazenar a idade de 5 usuários. Em vez de armazená-los como
- user1Age,
- user2Age,
- user3Age,
- user4Age
- user5Age 

Faz mais sentido armazená-los como uma lista.
Para declarar uma lista, escreva listName = [valores iniciais]. Observe que usamos colchetes [] ao declarar uma lista. Vários valores são separados por vírgula.

In [100]:
userAge = [25,23,22,20,19,28,31];
userAge

[25, 23, 22, 20, 19, 28, 31]

Também podemos declarar uma lista sem atribuir nenhum valor inicial a ela.  
Simplesmente escrevemos listName = [].
O que temos agora é uma lista vazia sem itens.  
Temos que usar o método append () mencionado abaixo para adicionar itens à lista.

Valores individuais na lista são acessíveis por seus índices, e os índices sempre começam em ZERO, não em 1.  
Essa é uma prática comum em quase todas as linguagens de programação, como C e Java.  
Portanto, o primeiro valor tem um índice de 0, o próximo tem um índice de 1 e assim por diante. Por exemplo:

In [101]:
userAge[0]

25

In [102]:
userAge[1]

23

In [103]:
userAge[2]

22

In [104]:
userAge[3]

20

In [105]:
userAge[4]

19

In [106]:
userAge[7]

IndexError: ignored

In [107]:
userAge[6]

31

Como alternativa, você pode acessar os valores de uma lista na parte de trás.  
O último item da lista tem um índice de -1, o segundo último tem um índice de -2 e assim por diante.  
Conseqüentemente,

In [108]:
userAge [-1]

31

In [109]:
userAge [-2]

28

Você pode atribuir uma lista, ou parte dela, a uma variável.  
Se você escrever userAge2 = userAge, a variável userAge2 se tornará [25,23,22,20,19,28,31].

In [110]:
userAge2 = userAge;
userAge2

[25, 23, 22, 20, 19, 28, 31]

Se você escrever userAge3 = userAge [2: 4], estará atribuindo itens com o índice 2 ao índice 4-1 da lista userAge à lista userAge3.
Em outras palavras, userAge3 é:

In [0]:
userAge3 = userAge [2: 4]

In [112]:
userAge3

[22, 20]

In [0]:
userAge4 = userAge [0: 3]

In [114]:
userAge4

[25, 23, 22]

Para criar uma lista vazia você apenas precisa fazer isto:

In [115]:
emptyList = [];
emptyList

[]

Para adcionar um elemento a uma lista você pode usar o método append, veja como usa-lo:

In [116]:
emptyList.append(1);
emptyList

[1]

In [117]:
emptyList.append(2);
emptyList

[1, 2]

In [118]:
emptyList.append(3);
emptyList

[1, 2, 3]

In [119]:
emptyList.append(4);
emptyList

[1, 2, 3, 4]

In [120]:
emptyList.append(5);
emptyList

[1, 2, 3, 4, 5]

In [121]:
emptyList.append(6);
emptyList

[1, 2, 3, 4, 5, 6]

In [122]:
emptyList.append(7);
emptyList

[1, 2, 3, 4, 5, 6, 7]

In [123]:
emptyList.append(8);
emptyList

[1, 2, 3, 4, 5, 6, 7, 8]

In [124]:
emptyList.append(9);
emptyList

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [125]:
emptyList.append(10);
emptyList

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Para saber o tamanho de uma lista use a função len()

In [126]:
len(emptyList)

10

Para deletar um item d euma lista digite o seguinte:  
**del listName[index of item to be deleted]**

In [127]:
del emptyList[9];emptyList

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [128]:
del emptyList[0];emptyList

[2, 3, 4, 5, 6, 7, 8, 9]

In [0]:
emptyList.insert(10,100)

In [130]:
emptyList

[2, 3, 4, 5, 6, 7, 8, 9, 100]

In [134]:
emptyList.insert(0,100); emptyList

[100, 100, 100, 100, 2, 3, 4, 5, 6, 7, 8, 9, 100]